---
import { SITE } from '../config/site'
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{SITE.title}</title>
  </head>
  <body>
    <main>
      <h1>{SITE.title}</h1>
    </main>
  </body>
</html>
